<nav
	class="navbar navbar-toggleable-md navbar-inverse bg-inverse2 fixed-top" >
	<button class="navbar-toggler navbar-toggler-right collapsed"
		type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" routerLink="/home">Tim Swierad</a>

	<div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false">
		<ul class="navbar-nav mr-auto" routerLinkActive="active">
			<li class="nav-item"><a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/resume">Resume</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/projects">Projects</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
		</ul>

	</div>
</nav>

<router-outlet></router-outlet>

