
<div class='container my-custom-container' style='margin-top: 65px;'>
	<div class="row">
		<div class="col-sm-3">
			<div class="card">
				<img class="card-img-top"
					src="https://lh3.googleusercontent.com/-4SrHYbEP1IE/AAAAAAAAAAI/AAAAAAAAADM/FDiWwAwv9hI/photo.jpg"
					alt="Card image cap">
				<div class="card-block">
					<h4 class="card-title">Timothy Swierad</h4>
					<p class="card-text">Experienced Infrastructure Developer with
						a demonstrated history of working in the financial services
						industry. Strong engineering professional with a BS focused in
						Applied Networking And System Administration from Rochester
						Institute of Technology and currently working on obtaining a
						Masters in Computer Science from Stevens Institute of Technology.
						Looking to relocate to the Denver/Salt Lake City areas.</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<address>
							<b>Location:</b><br>Hoboken, NJ 07030
						</address>
					</li>
				</ul>
				<div class="card-block">
					<a href="#" class="card-link">Card link</a> <a href="#"
						class="card-link">Another link</a>
				</div>
			</div>
		</div>

		<div class="col-sm-9">
			<div class="card">
				<h6 class="card-header">Objective</h6>
				<div class="card-block">
					<p class="card-text">To obtain a position of Software Developer
						where I may be able to employ my skills in developing software
						applications in a fast paced mission critical environment Looking
						to relocate to the Denver area.</p>
				</div>
			</div>
			<br>
			<div class="card">
				<h6 class="card-header">Professional Expierence</h6>
				<div class="card-block">
					<ul class="list-group list-group-flush" *ngFor="let e of profExpData" >
						<li class="list-group-item" >
							<h5 >
								{{ e.company }}, {{ e.city}}, {{ e.state }} 
							</h5>
							
							<br>
							<h5><small class="text-muted"> {{ e.jobTitle }} - {{ e.department }}   {{ e.startDate }} -  {{ e.endDate }}</small></h5>
							<ul>
								<li *ngFor="let bullet of e.bulletPoints"> {{ bullet }}</li>
								

							</ul>
						</li>
						
					</ul>
				</div>
			</div>
			<br>
			<div class="card">
				<h6 class="card-header">Education</h6>
				<div class="card-block">
					
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
			<br>
			<div class="card">
				<h6 class="card-header">Skills</h6>
				<div class="card-block">
					<table class="table">
						<tr *ngFor = "let c of skillsData">
							<td class="badge-skill" >{{ c.category }}  </td>
							<td >
								<span class="badge badge-default badge-skill" *ngFor="let skill of c.skills" style="margin:2px;">{{ skill.name }}</span>
								
							</td>
						</tr>
						
					</table>
					
				</div>
			</div>
		</div>
	</div>


	<hr>

	<footer class="footer">
		<p>Tim Swierad 2017</p>
	</footer>
</div>